<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indexCat0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>indexCat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1,453},{450,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>indexCat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{450,394}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1,905},{450,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>indexCat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{450,382}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1,1357},{450,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indexCat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{450,372}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{397,905},{450,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>indexCat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{450,364}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{403,1},{450,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>indexCat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{450,360}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{403,453},{450,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>indexCatEye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,45}</string>
                <key>spriteSize</key>
                <string>{174,28}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{453,1357},{174,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>catIndex.png</string>
            <key>size</key>
            <string>{770,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525ac689778aad3320cf2a72df00be2f:2d3781f1de874bc6e47c9198bcd5dbaf:dd616064cb99fe87fe7d63546628ebb8$</string>
            <key>textureFileName</key>
            <string>catIndex.png</string>
        </dict>
    </dict>
</plist>
