<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{731,159},{102,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{140,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{565,715},{140,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{731,263},{102,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{707,715},{118,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{565,839},{118,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{836,156}</string>
                <key>spriteSourceSize</key>
                <string>{840,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{836,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{427,159},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{427,299},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{427,577},{148,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtn04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{427,437},{148,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtn05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{577,577},{148,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtnOn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{579,159},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtnOn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{579,299},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtnOn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{427,715},{148,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitBtnOn04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{148,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{577,437},{148,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruitBtnOn05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{427,865},{148,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruitCatHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{857,424}</string>
                <key>spriteSourceSize</key>
                <string>{857,424}</string>
                <key>textureRect</key>
                <string>{{1,159},{857,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fruitCatUI.png</string>
            <key>size</key>
            <string>{838,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7548c6038a158a6e234d25cc662019:5648f95688323a13aacfe3834c97eeab:52d295ef9fd17a88b1e9f77a04c2a9a4$</string>
            <key>textureFileName</key>
            <string>fruitCatUI.png</string>
        </dict>
    </dict>
</plist>
