<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_fruitCat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{554,398}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{554,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_jumpCat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{554,398}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,401},{554,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_paintTheCat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{552,398}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,1201},{552,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-15}</string>
                <key>spriteSize</key>
                <string>{552,396}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,1601},{552,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298.5,218.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,1999},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_treatTheCat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{554,398}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,801},{554,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>gameList.png</string>
            <key>size</key>
            <string>{556,2003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e16d161cf4e300962ef0b680811c4dfc:a08c4df5a18c0c66c2318dab106e511c:0374484e2d3dfabc98f61b114261e247$</string>
            <key>textureFileName</key>
            <string>gameList.png</string>
        </dict>
    </dict>
</plist>
