<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itemBoom02.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,0},{138,120}}</string>
			<key>offset</key>
			<string>{11,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{70,75},{138,120}}</string>
		</dict>
		<key>itemBoom10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,488},{244,200}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{6,22},{244,200}}</string>
		</dict>
		<key>itemBoom04.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,0},{216,192}}</string>
			<key>offset</key>
			<string>{-1,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{19,24},{216,192}}</string>
		</dict>
		<key>itemBoom08.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,238},{222,194}}</string>
			<key>offset</key>
			<string>{1,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{18,24},{222,194}}</string>
		</dict>
		<key>itemBoom06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,238},{252,250}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{0,2},{252,250}}</string>
		</dict>
		<key>itemBoom12.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,488},{236,198}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{7,28},{236,198}}</string>
		</dict>
		<key>itemBoom14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,692},{222,200}}</string>
			<key>offset</key>
			<string>{-5,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{12,22},{222,200}}</string>
		</dict>
		<key>itemBoom16.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,692},{218,180}}</string>
			<key>offset</key>
			<string>{-5,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{14,32},{218,180}}</string>
		</dict>
		<key>itemBoom01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{92,64}}</string>
			<key>offset</key>
			<string>{4,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{86,116},{92,64}}</string>
		</dict>
		<key>itemBoom03.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,0},{180,168}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{39,43},{180,168}}</string>
		</dict>
		<key>itemBoom05.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,0},{250,238}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{0,7},{250,238}}</string>
		</dict>
		<key>itemBoom07.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,238},{232,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{12,11},{232,234}}</string>
		</dict>
		<key>itemBoom09.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,238},{240,196}}</string>
			<key>offset</key>
			<string>{5,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{13,24},{240,196}}</string>
		</dict>
		<key>itemBoom11.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,488},{250,204}}</string>
			<key>offset</key>
			<string>{3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{6,18},{250,204}}</string>
		</dict>
		<key>itemBoom13.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,488},{232,196}}</string>
			<key>offset</key>
			<string>{-5,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{7,22},{232,196}}</string>
		</dict>
		<key>itemBoom15.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,692},{222,172}}</string>
			<key>offset</key>
			<string>{-3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{14,34},{222,172}}</string>
		</dict>
		<key>itemBoom17.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,692},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>realTextureFileName</key>
		<string>itemBoom.png</string>
		<key>textureFileName</key>
		<string>itemBoom.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:aa34297d1a9889d02abeb32f951d9cc1$</string>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
