<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-60}</string>
                <key>spriteSize</key>
                <string>{176,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{1,167},{176,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-57}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{1,683},{176,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{176,182}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{1,859},{176,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{172,186}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{185,511},{172,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{179,339},{170,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{1,511},{170,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{172,188}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{179,685},{172,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{185,859},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{176,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{179,169},{176,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-62}</string>
                <key>spriteSize</key>
                <string>{176,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-60}</string>
                <key>spriteSize</key>
                <string>{176,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{179,1},{176,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{176,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,288}</string>
                <key>textureRect</key>
                <string>{{1,337},{176,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jumpCatSprite.png</string>
            <key>size</key>
            <string>{372,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa367cef279eb2bf9a656c778fa8a0b0:f140f58b90d3ee748f98205da43bf376:cb5cf962dedfe405f68e74fe62d3afb6$</string>
            <key>textureFileName</key>
            <string>jumpCatSprite.png</string>
        </dict>
    </dict>
</plist>
