<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{732,1657},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,64}</string>
                <key>spriteSourceSize</key>
                <string>{180,66}</string>
                <key>textureRect</key>
                <string>{{832,1657},{180,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,101}</string>
                <key>spriteSourceSize</key>
                <string>{289,101}</string>
                <key>textureRect</key>
                <string>{{677,1034},{289,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{968,1034},{96,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{218,76}</string>
                <key>spriteSourceSize</key>
                <string>{220,76}</string>
                <key>textureRect</key>
                <string>{{1,1669},{218,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frogJumpBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1344,262}</string>
                <key>spriteSourceSize</key>
                <string>{1344,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{1344,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jumpCatHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{857,424}</string>
                <key>spriteSourceSize</key>
                <string>{857,424}</string>
                <key>textureRect</key>
                <string>{{265,1},{857,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{236,123}</string>
                <key>spriteSourceSize</key>
                <string>{236,125}</string>
                <key>textureRect</key>
                <string>{{752,1137},{236,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{236,123}</string>
                <key>spriteSourceSize</key>
                <string>{236,125}</string>
                <key>textureRect</key>
                <string>{{752,1375},{236,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{236,123}</string>
                <key>spriteSourceSize</key>
                <string>{236,125}</string>
                <key>textureRect</key>
                <string>{{877,1137},{236,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rightOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{236,123}</string>
                <key>spriteSourceSize</key>
                <string>{236,125}</string>
                <key>textureRect</key>
                <string>{{877,1375},{236,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stick0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{206,28}</string>
                <key>spriteSourceSize</key>
                <string>{206,46}</string>
                <key>textureRect</key>
                <string>{{994,1},{206,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{206,42}</string>
                <key>spriteSourceSize</key>
                <string>{206,46}</string>
                <key>textureRect</key>
                <string>{{524,1654},{206,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{206,42}</string>
                <key>spriteSourceSize</key>
                <string>{206,46}</string>
                <key>textureRect</key>
                <string>{{752,1613},{206,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{206,42}</string>
                <key>spriteSourceSize</key>
                <string>{206,46}</string>
                <key>textureRect</key>
                <string>{{524,1698},{206,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-24}</string>
                <key>spriteSize</key>
                <string>{226,438}</string>
                <key>spriteSourceSize</key>
                <string>{410,752}</string>
                <key>textureRect</key>
                <string>{{524,1214},{226,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,26}</string>
                <key>spriteSize</key>
                <string>{256,514}</string>
                <key>spriteSourceSize</key>
                <string>{410,752}</string>
                <key>textureRect</key>
                <string>{{266,1214},{256,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,138}</string>
                <key>spriteSize</key>
                <string>{410,352}</string>
                <key>spriteSourceSize</key>
                <string>{410,752}</string>
                <key>textureRect</key>
                <string>{{265,860},{410,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-44}</string>
                <key>spriteSize</key>
                <string>{301,766}</string>
                <key>spriteSourceSize</key>
                <string>{361,930}</string>
                <key>textureRect</key>
                <string>{{691,1},{301,766}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,49}</string>
                <key>spriteSize</key>
                <string>{263,316}</string>
                <key>spriteSourceSize</key>
                <string>{361,930}</string>
                <key>textureRect</key>
                <string>{{691,769},{263,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-54}</string>
                <key>spriteSize</key>
                <string>{263,320}</string>
                <key>spriteSourceSize</key>
                <string>{361,930}</string>
                <key>textureRect</key>
                <string>{{1,1347},{263,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jumpCat.png</string>
            <key>size</key>
            <string>{1023,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be9821cf12b7fd7a6b989e3faddc4ab7:bcc591bd3faad18e7d4f22706cd8f13a:cd513fd4e55ebae8d55755e7a2d870a5$</string>
            <key>textureFileName</key>
            <string>jumpCat.png</string>
        </dict>
    </dict>
</plist>
