<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{551,183},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,183},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,275},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,183},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{111,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{221,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,279},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{551,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{331,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{551,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{551,281},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,281},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{551,281},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,281},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{441,183},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,183},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{551,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{1,183},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,96}</string>
                <key>textureRect</key>
                <string>{{661,91},{108,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paintTheCatHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{857,424}</string>
                <key>spriteSourceSize</key>
                <string>{857,424}</string>
                <key>textureRect</key>
                <string>{{1,594},{857,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paint_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{191,213}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{1,377},{191,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paint_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{191,213}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{216,377},{191,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paint_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{191,213}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{431,379},{191,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paint_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{191,213}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{646,379},{191,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>paintTheCat.png</string>
            <key>size</key>
            <string>{859,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c54910535f0ed682aa16af391a77dedc:500caf2ec6b4800882b0ca3aeb31c3f0:24ab4b74fefaf25043047fef529a4df7$</string>
            <key>textureFileName</key>
            <string>paintTheCat.png</string>
        </dict>
    </dict>
</plist>
