<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossBoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,100}</string>
                <key>spriteSourceSize</key>
                <string>{275,100}</string>
                <key>textureRect</key>
                <string>{{679,425},{275,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{132,138}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1911,153},{132,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{172,140}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1112,387},{172,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1765,1},{146,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{204,184}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1267,191},{204,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{206,188}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1061,1},{206,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1775,153},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,31}</string>
                <key>spriteSize</key>
                <string>{174,214}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1269,1},{174,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{154,150}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1614,341},{154,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1485,1},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1627,165},{152,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1286,377},{156,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{154,116}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{956,413},{154,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-50}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1912,293},{160,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{150,144}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1766,319},{150,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{138,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1625,1},{138,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-61}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{475,237},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{152,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1450,377},{152,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{152,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1473,177},{152,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1913,1},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windowClosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{204,196}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{679,219},{204,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>windowInside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{204,196}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{863,1},{204,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>windowShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{212,200}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{477,289},{212,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>window_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1071,191},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{192,204}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{877,207},{192,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{192,216}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{669,1},{192,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{192,234}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{475,1},{192,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{200,244}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{231,307},{200,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>window_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{262,238}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{235,1},{262,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>window_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{304,232}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>window_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{262,238}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{235,1},{262,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{228,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,307},{228,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>popTheCat.png</string>
            <key>size</key>
            <string>{2044,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:367aab15a97c606009ce62c178f0df90:dddbb8225ae123817df4cebd1f1e058c:d03649cc854e720be8efe79f466a4b68$</string>
            <key>textureFileName</key>
            <string>popTheCat.png</string>
        </dict>
    </dict>
</plist>
