<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{860,129},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,427},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{321,427},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{860,221},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{130,74}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{189,427},{130,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{860,393},{86,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>food7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{860,305},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{97,427},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treatTheCatHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{857,424}</string>
                <key>spriteSourceSize</key>
                <string>{857,424}</string>
                <key>textureRect</key>
                <string>{{1,1},{857,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{860,1},{126,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>treatTheCatUI.png</string>
            <key>size</key>
            <string>{979,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d709768a74ac3209c2e8cc5515baace:8ea0708a358f5c078d740d672fd699cf:5240988730eb7bf56249fb1698abec3b$</string>
            <key>textureFileName</key>
            <string>treatTheCatUI.png</string>
        </dict>
    </dict>
</plist>
