<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,90}</string>
                <key>spriteSourceSize</key>
                <string>{422,90}</string>
                <key>textureRect</key>
                <string>{{447,263},{422,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,90}</string>
                <key>spriteSourceSize</key>
                <string>{422,90}</string>
                <key>textureRect</key>
                <string>{{447,355},{422,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIBtn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,90}</string>
                <key>spriteSourceSize</key>
                <string>{422,90}</string>
                <key>textureRect</key>
                <string>{{447,447},{422,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIBtn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,90}</string>
                <key>spriteSourceSize</key>
                <string>{422,90}</string>
                <key>textureRect</key>
                <string>{{1,525},{422,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIBtn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,90}</string>
                <key>spriteSourceSize</key>
                <string>{422,90}</string>
                <key>textureRect</key>
                <string>{{425,539},{422,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{744,987},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{843,1016},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{108,1089},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{567,785},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{762,785},{99,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>closeBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{762,886},{99,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchangeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,105}</string>
                <key>spriteSourceSize</key>
                <string>{290,105}</string>
                <key>textureRect</key>
                <string>{{1,760},{290,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exchangeBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143.5,51}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{290,105}</string>
                <key>textureRect</key>
                <string>{{1008,85},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exchangeBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,105}</string>
                <key>spriteSourceSize</key>
                <string>{290,105}</string>
                <key>textureRect</key>
                <string>{{1,867},{290,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1,1186},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{90,1186},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helpBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{504,993},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infoBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{1,1089},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infoBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{179,1186},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infoBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{405,993},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{293,886},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{316,886},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{1,1282},{105,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{504,1082},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{599,1109},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{793,1212},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankingListBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{593,1012},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankingListBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{405,1090},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankingListBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{405,1187},{97,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{502,1187},{97,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replayBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{692,1084},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replayBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{599,1198},{97,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{293,824},{60,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{696,1181},{97,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingBtnDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{793,1113},{97,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingBtnOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{890,1113},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,113}</string>
                <key>spriteSourceSize</key>
                <string>{287,113}</string>
                <key>textureRect</key>
                <string>{{893,85},{287,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shareBtnBgDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,113}</string>
                <key>spriteSourceSize</key>
                <string>{287,113}</string>
                <key>textureRect</key>
                <string>{{1,974},{287,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBtnBgOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,113}</string>
                <key>spriteSourceSize</key>
                <string>{287,113}</string>
                <key>textureRect</key>
                <string>{{290,993},{287,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{293,760},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{867,816},{144,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{419,785},{146,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{763,631},{152,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{594,908},{148,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{871,374},{142,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{867,920},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{668,774},{132,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,1},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{343,617},{106,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{340,141}</string>
                <key>spriteSourceSize</key>
                <string>{342,149}</string>
                <key>textureRect</key>
                <string>{{871,474},{340,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startBtnBgDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{340,141}</string>
                <key>spriteSourceSize</key>
                <string>{342,149}</string>
                <key>textureRect</key>
                <string>{{1,617},{340,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startBtnBgOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{340,141}</string>
                <key>spriteSourceSize</key>
                <string>{342,149}</string>
                <key>textureRect</key>
                <string>{{421,631},{340,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,87}</string>
                <key>spriteSourceSize</key>
                <string>{253,87}</string>
                <key>textureRect</key>
                <string>{{339,904},{253,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toolBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,74}</string>
                <key>spriteSourceSize</key>
                <string>{177,74}</string>
                <key>textureRect</key>
                <string>{{343,725},{177,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>useClockBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{444,260}</string>
                <key>spriteSourceSize</key>
                <string>{466,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>useClockBtnBgDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{444,260}</string>
                <key>spriteSourceSize</key>
                <string>{466,280}</string>
                <key>textureRect</key>
                <string>{{447,1},{444,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>useClockBtnBgOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{444,260}</string>
                <key>spriteSourceSize</key>
                <string>{466,280}</string>
                <key>textureRect</key>
                <string>{{1,263},{444,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1014,1305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9a8774fa4a76fc1414b6b1c5bae1de:1e1b0fe432dec74aad751216b428d585:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
